/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

/* import the Lato font from Google */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*
 *
 * colors : https://coolors.co/b3b6b7-6f1a07-2b2118-2c6e49-ffda22
 * https://coolors.co/ed254e-f9dc5c-f4fffd-011936-465362
 * https://coolors.co/508484-ff7f11-f4fffd-011936-ff3f00
 * https://coolors.co/8783d1-bc2c1a-f4fffd-011936-7d1538
 * https://coolors.co/d00000-ffba08-3f88c5-032b43-136f63
 * https://coolors.co/d00000-ffba08-fdfffc-235789-161925
 *
 */

/* Neocities will try to give us errors because their CSS isn't updated, but variables work fine in the actual website */
:root {
  --main-bg-color: #FDFFFC;
  --block-bg-color: #161925;
  --box-shadow-color: white; /*#465362;*/
  --header-color: #D90429;
  --nav-link-all: white;
  --nav-link-before: var(--nav-link-all);
  --nav-link-after: var(--nav-link-all);
  --nav-link-size: 1em;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--main-bg-color);
  background-image: url("assets/factory_fire_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h3 {
  color: var(--header-color);
}

/* links take so many different decorations oh my god */
.nav-bar a:link {
  text-decoration: none;
  color: var(--nav-link-before);
  font-size: var(--nav-link-size);
  /*mix-blend-mode: difference; */
}
.nav-bar a:visited {
  text-decoration: none;
  color: var(--nav-link-after);
  font-size: var(--nav-link-size);
  /* mix-blend-mode: difference; */
}
.nav-bar a:hover {
  text-decoration: underline;
}
.nav-bar a:active {
  text-decoration: underline;
}

.bio-container {
  width: 400px;
}

.bio-text {
  float: none;
}

.floated {
  float: left;
  width: 150px;
}

.text-block {
  text-align: center;
  padding: 1.3em;
  background-color: var(--block-bg-color);
  color: white;
  margin: 1.7em;
  transition: 0.3s;
}

.text-block:hover {
  box-shadow: 10px 10px var(--box-shadow-color);
  transform: translate(5px, 5px);
}

.wrap {
  width: 65%;
  margin: auto;
}

/* Styles for screen goes here */
/*
@media screen {
  .wrap {
    width: 65%;
    margin: auto;
  }
}*/

/* Styles for specific screen resolutions */
/*
@media screen and (max-width:531px) {
  .wrap {
    width: 65%;
    margin: auto;
  }
}*/

.nav-bar {
  background-color: var(--block-bg-color);
  padding: 0.5em;
  text-align: center;
  margin: 0;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

/* mobile devices */
@media (orientation: portrait) {
  body {
    background-repeat: repeat;
  }
  
  .wrap {
    width: 100%;
  }
  
  .text-block {
    margin: 0px;
  }
  
  .nav-bar {
    position: absolute;
  }
}